
.searchBar{
    --ion-background-color: #4377c9;
}

.cardStyle{
    border-radius: 20px;
    --ion-background-color: #4377c9;
    span{
        color: white;
        font-weight: 300;
    }

    #temp{
        font-weight: 300;
        font-size: 4em;
        margin: 5px;
    }

    #locationIcon{
        color: #F6B844;
    }

    #date{
        color: #F6B844;
    }

}