<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>Location Visit - {{name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 style="text-align: center;">{{name}}</h3>
  <div style="margin-top: 1.2epm;">
    <ion-col size="4">
      <img style="padding: 10px; width: 300px; height: 100px; object-fit: cover; border-radius: 5px;" src="{{image}}"/>
    </ion-col>
    <div style="margin-top: 20px;">
      <ion-item>
        <ion-label><p>Location Name: </p>{{name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><p>Discription: </p>{{tags}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><p>Sight URL: </p>Sight URL: {{url}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><p>Telephone Number: </p>{{telephone}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><p>Location Address: </p>{{address}}</ion-label>
      </ion-item>
    </div>
    
    <!-- <ion-button fill="outline" color="secondary" slot="end">More Details</ion-button> -->
  </div>
  
  
</ion-content>
